@import '../../Assets//styles/shared-styles.scss';
.wrapper {
    border: 1px solid #c2c2c7;
    width: to-rem(513);
    border-radius: to-rem(5);
    display: flex;
    padding: 1rem;
    flex-direction: column;
    border-left: none;
    @include breakpoint("m"){
        width: 60%;
    }
    @include breakpoint("s"){
        width: 90%;
        margin-top: 1rem;
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgb(206, 203, 203);
        border-radius: to-rem(7);
        padding : 1rem;
        width: to-rem(454);
        height: to-rem(48);
        @include breakpoint("m"){
            width: 90%;
        }
        p {
            font-weight: $font-weight-dense;
            font-size: $font-size-medium;
            line-height: 170%;
            display: flex;
            align-items: center;
            color: #1E1E2F;
        }
        &__right{
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: color(White);
            height: to-rem(40);
            padding: 0.7rem;
            border-radius: to-rem(7);
            p:first-child {
                font-weight: $font-weight-bold;
            }
            p{
                color: gray;
            }
            p:last-child {
                color: #1A9E68;
            }
        }
    }
    .body {
        .item {
            margin-top: 2rem;
            h6 {
                text-align: left;
                font-size: to-rem(15);
                margin-bottom: 1.5rem;
                @include breakpoint("s"){
                    margin-bottom: 1rem;
                }
            }
            p {
                color: #5F5F8C;
                margin-bottom: 1.5rem;
                @include breakpoint("s"){
                    font-size: to-rem(13);
                }
            }
        }
        
    }
    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.5rem;
        padding: 0.5rem;
        .left {
            display: flex;
            align-items: center;
            justify-content: space-around;
            border-radius: to-rem(7);
            border: 1px solid #CECEDE;
            width: to-rem(208);
            height: to-rem(56);

            div {
                width: to-rem(40);
                height: to-rem(40);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                border : to-rem(3) solid #CECEDE;
                background-image: url("../../Assets/images/png/profilePic.png");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: black;
            }
        }
        p{
            font-style: normal;
            font-weight: $font-weight-regular;
            font-size: to-rem(14);
            line-height: 146%;
            display: flex;
            align-items: center;
            color: #5F5F8C;
        }
    }
}