@import '../../Assets//styles/shared-styles.scss';
.wrapper {
    border: 2px solid #c2c2c7;
    width: to-rem(513);
    height: to-rem(728);
    border-radius: to-rem(5);
    display: flex;
    padding: 1rem;
    flex-direction: column;
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgb(206, 203, 203);
        border-radius: to-rem(7);
        padding : 1rem;
        width: to-rem(454);
        height: to-rem(48);
        p {
            font-weight: $font-weight-dense;
            font-size: $font-size-medium;
            line-height: 170%;
            display: flex;
            align-items: center;
            color: #1E1E2F;
        }
        &__right{
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: color(White);
            height: to-rem(40);
            padding: 0.7rem;
            border-radius: to-rem(7);
            p:first-child {
                font-weight: $font-weight-bold;
            }
            p{
                color: gray;
            }
            p:last-child {
                color: #1A9E68;
            }
        }
    }
    .body {
        .item {
            margin-top: 2rem;
            h6 {
                text-align: left;
                font-size: to-rem(15);
                margin-bottom: 1.5rem;
            }
            p {
                color: #5F5F8C;
                margin-bottom: 1.5rem;
            }
        }
        
    }
}