@import '../../Assets/styles/shared-styles.scss';
.greetings {
    margin-top: 8rem;
    line-height : 130%;
    color : #1E1E2F;
    h5 {
        font-family: 'Graphik';
        font-size: to-rem(17);
        font-weight: 700;
    }
    @include breakpoint("s"){
        margin-top: 4rem;
    }
}