@import '../../Assets//styles/shared-styles.scss';
.wrapper {
    border: 1px solid #EDEDF2;
    width: to-rem(607);
    border-radius: to-rem(5);
    position: relative;
    @include breakpoint("m"){
        width: 30%;
    }
    @include breakpoint("s"){
        width: 100%;
    }
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        padding-left: 0.5rem;
        p{
            color: color(Black);
            font-size: to-rem(14);
            font-weight: 700;
        }
        .date {
            display: flex;
            justify-content: space-around;
            align-items: center;
            border: 1px solid #CECEDE;
            border-radius: to-rem(7);
            width: to-rem(152);
            height: to-rem(40);
            margin-right: 1rem;
            cursor: pointer;
            p{
                color: color(Black);
                font-size: to-rem(14);
                font-weight: 700;
            }
        }
        @include breakpoint("m"){
            flex-direction: column;
            p{
                font-size: to-rem(13);
            }
            div{
                margin-top: 1rem;
            }
        }
        @include breakpoint("s"){
            flex-direction: row;
            align-items: baseline;
        }
    }
    .dropdown {
        width: to-rem(201);
        height: to-rem(348);
        border: 1px solid #CECEDE;
        border-radius: to-rem(10);
        position: absolute;
        right: to-rem(15);
        top: 3.9rem;
        z-index: 2;
        background-color: #fff;
        &_date{
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #CECEDE;
            border-radius: to-rem(6);
            padding: 1rem;
            margin: 1rem;
            width: 4.5625rem;
            height: 0.3rem;
        }
        .customDatePickerWrapper{
            border: to-rem(1) solid #CECEDE;
            border-radius: to-rem(10 10 0 0);
            border-left: 0;
            border-right: 0;
            border-bottom: 0;
            padding-top: to-rem(16);
        };
    }
.horizontalWrapper{
    margin-top: 2rem;
    margin-bottom: to-rem(-20);
    @include breakpoint("s"){
        width: 90%;
        margin-bottom: to-rem(1);
    }
    p{
        font-style: normal;
        font-weight: $font-weight-regular;
        font-size: to-rem(14);
        line-height: 146%;
        color: #5F5F8C;
        display: inline-block;
        margin-left: to-rem(30);
        margin-right: to-rem(20);
    }
    @include breakpoint("m"){
        svg {
            width: 50%;
        }
    }
    @include breakpoint("s"){
        svg {
            width: 55%;
        }
    }
}
    .bodyWrapper{
        display: flex;
        .productivityWrappper{
            margin-top: 2.7rem;
            p{
                width: 30%;
                margin-top: 10px;
                transform: rotate(90deg);
                font-style: normal;
                font-weight: $font-weight-regular;
                font-size: to-rem(14);
                line-height: 146%;
                display: flex;
                align-items: center;
                color: #5F5F8C;
                margin-left: to-rem(-6);
                height: 13%;

            }
        }
     
    }
    .body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        background-color: transparent;

        @include breakpoint("s"){
            margin-top: 1rem;
        }
        
        .item {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: to-rem(240);
            height: to-rem(240);
            border-radius: to-rem(10 0 0 0);
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
            @include breakpoint("m"){
                width: 12rem;
                height: 10rem;
            }
            @include breakpoint("s"){
                width: 90%;
            }
            div:first-child {
                margin-left: to-rem(-35);
                margin-bottom: 0.5rem;
            }
            div {
                display: flex;
                p{
                    margin-right: 0.5rem;
                }
            }
            .average {
                position: absolute;
                background-color: #fff;
                display: flex;
                flex-direction: column;
                right: to-rem(20);
                top: to-rem(20);
                width: 5rem;
                height: 2.5rem;
                border-radius: to-rem(7);
                align-items: end;
                justify-content: center;
                border: to-rem(5) solid #FFFFFF;

                p{
                    color: #5F5F8C;
                    font-size: to-rem(14);
                    margin-bottom: 0.1rem;
                }
                p:last-child{
                    text-align: right;
                    font-size: to-rem(13);
                    font-weight: $font-weight-bold;
                    color: color(Black);
                }
            }
        }
    }
}