@import '../../Assets//styles/shared-styles.scss';
.wrapper {
    border: 1px solid #EDEDF2;
    width: to-rem(607);
    border-radius: to-rem(5);
    position: relative;
    @include breakpoint("m"){
        width: 30%;
    }
    @include breakpoint("s"){
        width: 100%;
    }
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        .date {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid #CECEDE;
            border-radius: to-rem(7);
            padding: 1rem;
            width: to-rem(152);
            height: to-rem(40);
            cursor: pointer;
            p{
                color: color(Black);
            }
        }
        @include breakpoint("m"){
            flex-direction: column;
            p{
                font-size: to-rem(13);
            }
            div{
                margin-top: 1rem;
            }
        }
        @include breakpoint("s"){
            flex-direction: row;
        }
    }
    .dropdown {
        width: to-rem(201);
        height: to-rem(268);
        border: 1px solid #CECEDE;
        border-radius: to-rem(10);
        position: absolute;
        right: to-rem(15);
        top: to-rem(102);
        z-index: 2;
        background-color: #fff;
        overflow-y: scroll;
        &_date{
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #CECEDE;
            border-radius: to-rem(6);
            padding: 1rem;
            margin: 1rem;
            width: 4.5625rem;
            height: 0.3rem;
        }
        .customDatePickerWrapper{
            border: to-rem(1) solid #CECEDE;
            border-radius: to-rem(10 10 0 0);
            border-left: 0;
            border-right: 0;
            border-bottom: 0;
            padding-top: to-rem(16);
        };
    }
.horizontalWrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    @include breakpoint("s"){
        width: 90%;
    }
    p{
        font-style: normal;
        font-weight: $font-weight-regular;
        font-size: to-rem(14);
        line-height: 146%;
        display: flex;
        align-items: center;
        color: #5F5F8C;
    }
}
    .bodyWrapper{
        display: flex;
        .productivityWrappper{
            margin-top: 2.7rem;
            p{
                width: 30%;
                margin-top: 10px;
                transform: rotate(90deg);
                font-style: normal;
                font-weight: $font-weight-regular;
                font-size: to-rem(14);
                line-height: 146%;
                display: flex;
                align-items: center;
                color: #5F5F8C;
            }
        }
     
    }
    .body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        background-color: transparent;

        @include breakpoint("s"){
            margin-top: 1rem;
        }
        
        .item {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: to-rem(240);
            height: to-rem(240);
            border-radius: to-rem(10 0 0 0);
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
            @include breakpoint("m"){
                width: 12rem;
                height: 10rem;
            }
            @include breakpoint("s"){
                width: 90%;
            }
            div:first-child {
                margin-left: to-rem(-35);
                margin-bottom: 0.5rem;
            }
            div {
                display: flex;
                p{
                    margin-right: 0.5rem;
                }
            }
        }
    }
}