@import '../../Assets//styles/shared-styles.scss';
.wrapper {
    border: 2px solid #c2c2c7;
    width: to-rem(607);
    height: to-rem(728);
    border-radius: to-rem(5);
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
}