@import '../../Assets//styles/shared-styles.scss';

.navWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $font-size-medium;

    p {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        line-height: 170%;
        font-weight: 700;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .radio{
        background-color: #F6F6F8;
        width: to-rem(197);
        height: to-rem(56);
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: to-rem(70);
        font-weight: $font-weight-bold;
        color: #5F5F8C;
        @include breakpoint("s"){
            height: 2.5rem;
        }
        .active{
            background-color: color(White);
            width: to-rem(81);
            height: to-rem(40);
            border-radius: to-rem(65);
            display: flex;
            align-items: center;
            justify-content: center;
            color: color(Purple);
            @include breakpoint("s"){
                width: 5.0625rem;
                height: 2.5rem;
            }
        }
        @include breakpoint("s"){
            font-size: to-rem(11);
        }
    }

    .user {
        display: flex;
        align-items: center;

        div {
            width: to-rem(40);
            height: to-rem(40);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border : to-rem(3) solid #CECEDE;
        }
    }
}